# Neovim
*.log
*.swp
*.swo
undo/
swap/
backup/

# Lazy.nvim
/lazy-lock.json

# LazyChad State (private choices)
*_picker_state.json

# Folders
.netrw*
.DS_Store
.codex

# Arch / AUR Build Artifacts
/src/
/pkg/
/LazyChad/
*.tar.zst
*.tar.gz
*.tar.xz

# Debian / RPM Artifacts
*.deb
*.rpm
*_all.deb
.nfpms/
